<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Hot Restaurant - tables</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">

</head>

<body>

    <div class="container">

        <div class="jumbotron text-center">

            <h1 class="display-4">Jonny Utah's Restaurant!</h1>
            
            <p class="lead">Current Reservations and Waiting List</p>
            <hr class="my-4">
            
            <a class="btn btn-primary btn-lg  btn-danger" href="reserve.html" role="button">Make a Reservation!</a>

            <a class="btn btn-secondary btn-lg active" href="home.html" role="button" aria-pressed="true">Home</a>


        </div>

    </div>

    <div class="container">

            <div class="card">

                    <h5 class="card-header">Current Reservations:</h5>
                    <div class="card-body">

                            

                    </div>
            </div>
    </div>
    </br>
    <div class="container">

            <div class="card">

                    <h5 class="card-header">Waiting List:</h5>
                    <div class="card-body">

                            

                    </div>
            </div>


    </div>


    
    <!-- Optional JavaScript -->
    <!-- jQuery first,then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>